#Res{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    font-style: normal;
    color: blue;
    margin-bottom: 0%;
    margin-top: 0%;
} 
#Name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: normal;
    color: green;
    margin-top: 0%;
    
}
body{
    border-style: solid;
    background-color: aqua;
}
img{
    border-radius: 4px;
    border: 1px solid rgb(204, 131, 22);
    float: right;
    padding: 5px;
    width: 150px;
    margin-top: 0%;
}
hr{
    color: blue;
}
